<form method="post" action="/register">
<label for="username">Username</label>
<br>
<input type="text" name="username" placeholder="Tulis usernama anda">
<br>

<label for="password">password</label>
<br>
<input type="password" name="password" placeholder="Tulis password anda">
<br>

<button type="submit">register</button>

</form>